<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.org.elder-gods.cardex</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>cardex</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.uk.tsl.rfid</string>
	</array>
</dict>
</plist>
